<p>
  {{input value=secretValue id="secret-input"}}
  <button {{action 'checkSecret'}}>Check Secret</button>
</p>

{{#if showSecret}}
  <p id="secret-message-shown">Your Secret is now showing</p>
{{else}}
  <p id="secret-message">Nothing to see</p>
{{/if}}
