<h2 id="title">Welcome to Nimble Storage</h2>

<p>
  {{link-to 'Home Page' 'home'}}
  <span>|</span>
  {{#link-to 'about' id="about-link"}}
    About Page
  {{/link-to}}
</p>

{{outlet}}

<p>I am the footer</p>
